form.signup,
form.login {
  margin-top: 50px;
}

.top-bar{
  z-index: 1;
}

#pac-input{
  width: 500px;
  margin-left: 15px;
  margin-top: 15px;
}


#map{
  height: 90vh;
  width: 100vw;
  background-color: gray;
}
