form.signup,
form.login {
  margin-top: 50px;
}

a {
  color: #8a8a8a
}

a:hover {
  color: #767676;
}

body{
    background-image: url("../images/background.png");
}

body{
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.primary{
    background-color: #659DBD;
}

.login-card{
    border-radius: 10px;
    box-shadow: 3px 3px 20px 3px black;
    margin-top: 10%;
    padding: 20px 15px 5px 15px;
    background-color: white;
    min-width: 300px;
}

.signup-link{
    margin-top:4px;
    text-align: right
}

.nav{
    height: 50px;
    color: white;
    padding-top: 13px;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-logout{
    color: white
}

.off-canvas-wrapper{
    height:100%
}

.off-canvas-absolute{
    background-color: white
}

.off-canvas-header{
    padding: 10px;
    color: white;
    background-color: #767676;
}

.off-canvas-absolute{
    width:350px;
    transform: translateX(350px);
}

.off-canvas-content{
    height:100%
}

.comments-title{
    margin: 0

}

.comments-list{
    padding-top: 10px;
    padding-top: 10px;
}

.review-card{
    box-shadow: 2px 2px 5px 1px grey;
    margin-right: 10px;
    border-radius: 5px;
    background: blue;
    margin-bottom: 10px;
}

.review-header{
    font-size: 1rem;
    padding: 5px 15px;
    border-radius: 5px 5px 0px 0px;
}

.review-body{
    background: white;
    padding: 5px 15px;
    border-radius: 0px 0px 5px 5px;
}

.top-bar{
    z-index: 1;
}

#pac-input{
  max-width: 500px;
  margin: 15px;
}

#map{
  height: 100vh;
  background-color: gray;
}


.info-address{
    font-size: 1rem;
    margin-top: 5px;
    margin-bottom: 5px
}

.info-comments{
    margin-top: 2px;
    margin-left: 15px
}

.info-capacity{
    margin-top: 15px
}

.reveal{
    border-radius: 10px
}

textarea{
    resize: none;
    height: 100px
}

